<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Good) Exercises</span></div>

## Exercise 1 (Make me an odd list)

In [19]:
for number in range(9):
    if number % 2 == 0:
        continue #continue means to skip and move on to the next
    number = number**2
    print(number)

1
9
25
49

In [11]:
for number in range(9):
    if number % 2 == 0:
        continue
number = number**2 #take note of indentation!! in order to apply the for loop to this list, must have a tab spacing
print(number) #Qn: where did the number 8 come from???

64

## Exercise 2 (Make me another odd list)

In [32]:
[value**2 for value in range(9) if value % 2 != 0] # != filters out only the odd numbers

[1, 9, 25, 49]

## Exercise 3 (Time me!)

In [41]:
%%timeit
for number in range(9):
    if number % 2 == 0:
        continue
    number = number**2

1.57 µs ± 21.3 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [44]:
%%timeit
[value**2 for value in range(9) if value % 2 != 0]

1.73 µs ± 21.3 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

The first method, using for loop with range() and continue is faster.

In [43]:
%timeit

for number in range(9):
    if number % 2 == 0:
        continue
    number = number**2
    print(number)

1
9
25
49

## Exercise 4 (A problem of decay)

In [38]:
number=100
years=0

while number:
    print(f'Year {years} {number:>15.2f} units')
    number *= 0.95
    years += 1
    if number < 50: break

print(f'It will take {years} years for the sample to reduce to half its original amount.')

Year 0          100.00 units
Year 1           95.00 units
Year 2           90.25 units
Year 3           85.74 units
Year 4           81.45 units
Year 5           77.38 units
Year 6           73.51 units
Year 7           69.83 units
Year 8           66.34 units
Year 9           63.02 units
Year 10           59.87 units
Year 11           56.88 units
Year 12           54.04 units
Year 13           51.33 units
It will take 14 years for the sample to reduce to half its original amount.

## Exercise 5 (Changes in CO)

In [58]:
co2_data = {"2000": "369.55", "2001": "371.14", "2002": "373.28", 
    "2003": "375.80", "2004": "377.52", "2005": "379.80", 
    "2006": "381.90", "2007": "383.79", "2008": "385.60", 
    "2009": "387.43", "2010": "389.90", "2011": "391.65", 
    "2012": "393.85", "2013": "396.52", "2014": "398.65",
    "2015": "400.83", "2016": "404.24", "2017": "406.55", 
    "2018": "408.52", "2019": "411.44", "2020": "414.24"}

print(co2_data[year: co2_level])

for year, co2_level in co2_data.items():
    print(f'{years} {concentration:>15} ppm')

NameError: name 'year' is not defined

In [65]:
N = 21 #define range is N
year = 2000 #define data for years
ar = [0]*N #make a 1D array of 21 elements
print(ar)
for i in range(N): #create a loop to assign value to each element i in the array
    ar[i] = year
    year+= 1 #increment of 1 starting from year = 2000
    print(ar)

#ar[4]= year
#print(ar)
#while(ar[]) 

py_list_2d = [[2000, 369.55], [2001, 371.14], [2002, 373.28], [2003, 375.8], [2004, 377.52],
              [2005, 379.8], [2006, 381.9], [2007, 383.79], [2008, 385.6], [2009, 385.9]]
              
np_array_2d = np.array(py_list_2d)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 0, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 0, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 0, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 0, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 0, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 0, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 0, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 0]
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [116]:
py_list_2d = [[2000, 369.55], [2001, 371.14], [2002, 373.28], [2003, 375.8], [2004, 377.52],
              [2005, 379.8], [2006, 381.9], [2007, 383.79], [2008, 385.6], [2009, 387.43],
              [2010, 389.9], [2011, 391.65], [2012, 393.85], [2013, 396.52], [2014, 398.65],
              [2015, 400.83], [2016, 404.24], [2017, 406.55], [2018, 408.52], [2019, 411.44],
              [2020, 414.24]]

import numpy as np

N = 20 #N is number of iterations (difference of concentration x20)

np_array_2d = np.array(py_list_2d) #define array

for i in range(N): #create a loop to assign value to each element i in the array
    diff = np_array_2d[i+1,1] - np_array_2d[i,1] #i indicates the respective concentration values in the array
    if(diff>3):
        print(np_array_2d[i+1,0],np_array_2d[i+1,1],diff)

2016.0 404.24 3.410000000000025

In [84]:
co2_data = [
    (2000, 369.55), (2001, 371.14), (2002, 373.28), 
    (2003, 375.80), (2004, 377.52), (2005, 379.80), 
    (2006, 381.90), (2007, 383.79), (2008, 385.60), 
    (2009, 387.43), (2010, 389.90), (2011, 391.65), 
    (2012, 393.85), (2013, 396.52), (2014, 398.65),
    (2015, 400.83), (2016, 404.24), (2017, 406.55), 
    (2018, 408.52), (2019, 411.44), (2020, 414.24)
]

for years, concentration in enumerate(co2_data):
    concentration = concentration