In [3]:

print('Hello world!')
#real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

#for name in real_names:
#    print(f"{name} is a Marvel superhero!")

Hello world!

In [2]:
import numpy as np

In [9]:
py_list = [1, 2, 3, "test", 5]
np_array = np.array(py_list)    

py_list*2
#sum(py_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange", "hi"]


for count, name in enumerate(real_names):
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!
3: hi is a Marvel superhero!

In [20]:
for test, naxxme in enumerate(real_names):
    print(f'{naxxme}: {test} is a Marvel superhero!')

Natasha Romanoff: 0 is a Marvel superhero!
Tony Stark: 1 is a Marvel superhero!
Stephen Strange: 2 is a Marvel superhero!

In [23]:
len(real_names)

4

In [45]:
import numpy as np

list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([1, 2, 3, 4, 5])

for number in array1:
    result = array1[number-1]*array2
    print(f'{number}: {result}', end='\t')
    print('\n')

1: [1 2 3 4 5]

2: [ 2  4  6  8 10]

3: [ 3  6  9 12 15]

4: [ 4  8 12 16 20]

5: [ 5 10 15 20 25]

In [63]:
for number in [1, 2, 3, 4, 5]:
    print(number, end=':  ')
    for number_2 in [1, 2, 3, 4, 5]:
        print(f'{number*number_2}', end='  ')
    print('\n')

1:  1  2  3  4  5

2:  2  4  6  8  10

3:  3  6  9  12  15

4:  4  8  12  16  20

5:  5  10  15  20  25

In [12]:
import numpy as np

for i in range(10):
    flips = np.random.rand(10)
    count = 0
    #print(flips)
    for n in flips:
        if n > 0.5:
            count += 1
    
        if n < 0.5:
            continue

    print(f'experiment: {i+1} number of heads = {count}')

experiment: 1 number of heads = 5
experiment: 2 number of heads = 7
experiment: 3 number of heads = 4
experiment: 4 number of heads = 7
experiment: 5 number of heads = 5
experiment: 6 number of heads = 6
experiment: 7 number of heads = 3
experiment: 8 number of heads = 7
experiment: 9 number of heads = 6
experiment: 10 number of heads = 3

In [13]:
py_superhero_info = [['Natasha Romanoff', 'Black Widow'],
                     ['Tony Stark', 'Iron Man'],
                     ['Stephen Strange', 'Doctor Strange']]

for real_name, super_name in py_superhero_info:
    print(f"{real_name} is Marvel's {super_name}!")

Natasha Romanoff is Marvel's Black Widow!
Tony Stark is Marvel's Iron Man!
Stephen Strange is Marvel's Doctor Strange!

In [22]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]
for temp in temperatures_celsius:
    temperatures_farenheit = temp * 1.8 +32
    print(f"{temp}\N{degree sign}C is {temperatures_farenheit}\N{degree sign}F")

0°C is 32.0°F
5°C is 41.0°F
10°C is 50.0°F
15°C is 59.0°F
20°C is 68.0°F
25°C is 77.0°F
30°C is 86.0°F
35°C is 95.0°F
40°C is 104.0°F
45°C is 113.0°F
50°C is 122.0°F

In [38]:
%%timeit

for number in range(10):
    if number % 2 == 0:
        continue
    else:
        number**2

2.55 µs ± 38.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [39]:
%%timeit

[number**2 for number in range(10) if number % 2 != 0]

2.78 µs ± 41.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [47]:
n = 100
count = 0
while n > 50:
    n *= 0.95
    count += 1
    print(f"no. of years: {count}, amount of sample left:{n:.2f}units")

print("it will take 14 years.")

no. of years: 1, amount of sample left:95.00units
no. of years: 2, amount of sample left:90.25units
no. of years: 3, amount of sample left:85.74units
no. of years: 4, amount of sample left:81.45units
no. of years: 5, amount of sample left:77.38units
no. of years: 6, amount of sample left:73.51units
no. of years: 7, amount of sample left:69.83units
no. of years: 8, amount of sample left:66.34units
no. of years: 9, amount of sample left:63.02units
no. of years: 10, amount of sample left:59.87units
no. of years: 11, amount of sample left:56.88units
no. of years: 12, amount of sample left:54.04units
no. of years: 13, amount of sample left:51.33units
no. of years: 14, amount of sample left:48.77units
it will take 14 years.

In [99]:
co2_data = [
    (2000, 369.55), (2001, 371.14), (2002, 373.28), 
    (2003, 375.80), (2004, 377.52), (2005, 379.80), 
    (2006, 381.90), (2007, 383.79), (2008, 385.60), 
    (2009, 387.43), (2010, 389.90), (2011, 391.65), 
    (2012, 393.85), (2013, 396.52), (2014, 398.65),
    (2015, 400.83), (2016, 404.24), (2017, 406.55), 
    (2018, 408.52), (2019, 411.44), (2020, 414.24)
]

np_co2_data = np.array(co2_data)

for i in range(len(np_co2_data)-1):
    diff = np_co2_data[i+1, 1] - np_co2_data[i, 1]
    year = np_co2_data[i, 0]
    if diff > 3:
        print(f"{year:.0f}, {diff:.2f}")

2015, 3.41

In [1]:
def factorial(n):
    if n < 0:
        print("error")
    if n == 0:
        return 1
    if n > 0:
        y=1
        while n >0:
            y *= n
            n -= 1
        return y

#print(factorial(10))

n = int(input("please key in a factorial number"))
print(factorial(n))

#result = factorial(user_input)

#print(result)

please key in a factorial number 10

3628800

In [1]:
def factorial(n):
    if n < 0:
        print("error")
    else: 
        n=n+10
    return n
        
#user_input = input('Please provide me with a number?')
#print('You entered', user_input)

#result = factorial(user_input)
#print(result)

result = factorial(-1)
print(result)

error
-1